################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/coroutine.VC.db
/coroutine.VC.VC.opendb
/.vs/coroutine/v14/.suo
/x64/Debug
